# =========================
# Java / Maven
# =========================
target/
*.class
*.jar
*.war
*.ear

# =========================
# Eclipse
# =========================
.classpath
.project
.settings/
.metadata/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
*.ipr

# =========================
# Maven local/install files
# =========================
.mvn-install/
.m2/
apache-maven-*/
maven.zip

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
